*{
  margin: 0;
}
.app{
  background-color: #F5F5F5;
}

.header__img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 10px;
  max-width: 50%;
}

@media(max-width: 450px){
  .header__img{
    width: 100%;
  height: auto;
  }
}

p{
  margin-top: 50px;
  margin-left: 100px;
  margin-right: auto;
  font-size: 40px;
}