.map{
  height: 500px;
  background-color: f5f2f0;
  padding: 1em;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 0 0 8px -4px rgb(0, 0, 0, 0.5);
}

.map .leaflet-container{
  height: 100%;
}

.info-container{
  width: 160px;
}

.info-flag{
  height: 100px;
  width: 100%;
  background-size: cover;
  border-radius: 8px;
}

.info-flag img{
  width: 100px;
  border-radius: 5px;
}

.info-name {
  font-size: 20px;
  font-weight: bold;
  color: #555;
}

.info-confirmed,
.info-active,
.info-recovered,
.info-deaths {
  font-size: 15px;
  margin-top: 3px;
}